<!DOCTYPE html>
<meta charset="utf-8">
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <style>
                a{margin-left: 40px;margin-right: 40px;}
                #pole_wymagane{color:red;width:200px;float:left;margin-left:30px;margin-bottom: 10px;}
                #adres{float:left;margin-top: 15px;}
                #dod_adres{}
                .zal{margin-top:10px;}
                #submit{background-color:lightgreen;height:30px;width:100px;}
                table{border:1px black solid;}
                td{border:1px black solid;}
            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>  
        <a href="/przystanki">Formularz dodawania przystanka</a>
        <a href="/admin">Panel administratora</a>
        {% block body %}

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
