<!DOCTYPE html>
<meta charset="utf-8">
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>  
        <a href="/przystanki">Formularz dodawania przystanka</a>
        <a href="/admin">Panel administratora</a>
        {% block body %}

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
