{% extends 'base.html.twig' %}

{% block body %}
    <h1>Zaproponuj przystanek</h1>
    <form action="przystanki/add" method="POST" enctype="multipart/form-data">
        <p>Podaj adres przystanku: </p>
        <div id="dod_adres"><input type="text" id="adres" name="adres"> </input><p id="pole_wymagane">To pole jest wymagane!!</p><br><br><br></div>
        <p>Opis: </p>
        <input type="hidden" name="identyfikator" id="identyfikator" value="1"></input>
        <input type="hidden" name="odczytano" id="odczytano" value="0"></input>
        <input type="textarea" id="opis" name="opis"> </input><br>
        <input type="file" id="zal1" multiple name="zal1[]" max="3"  class="zal"></input><br>
        <input type="Submit" value="Wyślij" id="submit" class="zal"></input>
    </form>
{% endblock %}

